In [1]:
import sklearn as sk
import pandas as pd

df = pd.read_csv('/Users/marcelosilva/Desktop/Hands-on/notebooks/3_classificação/titanic/train.csv')

In [4]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
import pandas_utils as pdu
pdu.custom_info(df)

DataFrame Info with Completeness Analysis:
---------------------------------------------------------------------------
Total Rows: 891
Total Columns: 12

Column Details:
---------------------------------------------------------------------------
PassengerId               891 non-null int64      (100.0% complete)
Survived                  891 non-null int64      (100.0% complete)
Pclass                    891 non-null int64      (100.0% complete)
Name                      891 non-null object     (100.0% complete)
Sex                       891 non-null object     (100.0% complete)
Age                       714 non-null float64    (80.13% complete) •
SibSp                     891 non-null int64      (100.0% complete)
Parch                     891 non-null int64      (100.0% complete)
Ticket                    891 non-null object     (100.0% complete)
Fare                      891 non-null float64    (100.0% complete)
Cabin                     204 non-null object     (22.9% complete) •
Embarked                  889 non-null object     (99.78% complete) •

Memory Usage: 83.7+ KB